@keyframes hero-gradient-animation {
    0% {
        --x-0: 53%;
        --c-0: hsla(212, 98%, 49%, 1);
        --y-0: 47%;
        --s-start-0: 9.249139871209511%;
        --s-end-0: 15.387003692900368%;
        --x-1: 55%;
        --c-1: hsla(212, 98%, 49%, 1);
        --y-1: 47%;
        --s-start-1: 9.249139871209511%;
        --s-end-1: 15.387003692900368%;
        --x-2: 54%;
        --c-2: hsla(212, 98%, 49%, 1);
        --y-2: 48%;
        --s-start-2: 9.249139871209511%;
        --s-end-2: 15.387003692900368%;
        --x-3: 54%;
        --c-3: hsla(212, 98%, 49%, 1);
        --y-3: 45%;
        --s-start-3: 9.249139871209511%;
        --s-end-3: 15.387003692900368%;
        --x-4: 54%;
        --c-4: hsla(212, 98%, 49%, 1);
        --y-4: 45%;
        --s-start-4: 9.249139871209511%;
        --s-end-4: 23.561966289412474%;
    }

    100% {
        --x-0: 9%;
        --c-0: hsla(237.84730819372945, 92%, 19%, 1);
        --y-0: 88%;
        --s-start-0: 9.249139871209511%;
        --s-end-0: 21.36144068880298%;
        --x-1: 97%;
        --c-1: hsla(237.84730819372945, 92%, 19%, 1);
        --y-1: 6%;
        --s-start-1: 4.885010606909028%;
        --s-end-1: 21.594472158209854%;
        --x-2: 95%;
        --c-2: hsla(237.84730819372945, 92%, 19%, 1);
        --y-2: 92%;
        --s-start-2: 9.249139871209511%;
        --s-end-2: 24.058677205375602%;
        --x-3: 8%;
        --c-3: hsla(237.84730819372945, 92%, 19%, 1);
        --y-3: 13%;
        --s-start-3: 9.249139871209511%;
        --s-end-3: 20.73730889392014%;
        --x-4: 54%;
        --c-4: hsla(237.84730819372945, 92%, 19%, 1);
        --y-4: 45%;
        --s-start-4: 19.082936303357602%;
        --s-end-4: 32.869582383243234%;
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 53%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(212, 98%, 49%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 47%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.387003692900368%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(212, 98%, 49%, 1)
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 47%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.387003692900368%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(212, 98%, 49%, 1)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 48%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.387003692900368%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(212, 98%, 49%, 1)
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 45%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.387003692900368%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(212, 98%, 49%, 1)
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 45%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 23.561966289412474%
}

.your_css_selector_here {
    --x-0: 53%;
    --c-0: hsla(212, 98%, 49%, 1);
    --y-0: 47%;
    --x-1: 55%;
    --c-1: hsla(212, 98%, 49%, 1);
    --y-1: 47%;
    --x-2: 54%;
    --c-2: hsla(212, 98%, 49%, 1);
    --y-2: 48%;
    --x-3: 54%;
    --c-3: hsla(212, 98%, 49%, 1);
    --y-3: 45%;
    --x-4: 54%;
    --c-4: hsla(212, 98%, 49%, 1);
    --y-4: 45%;
    ;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}